<section class="hoenn-section">

    <h1>Hoenn Region</h1>

    @for (leader of trainerService.gymLeaders; track leader.name) {

        <div class="hoenn-leader">

            <h2>{{ leader.name }}</h2>

            <div class="leader-content">

                <div class="leader-image">
                    <img [src]="leader.image" [alt]="leader.name">
                </div>

                <div class="leader-details">

                    <h3>Team</h3>

                    <ul>
                        @for (pokemon of leader.team; track pokemon) {
                            <li>{{ pokemon }}</li>
                        }
                    </ul>

                    <h3>Items</h3>

                    <ul>
                        @for (item of leader.items; track item) {
                            <li>{{ item }}</li>
                        }
                    </ul>

                </div>

            </div>

        </div>

    }

</section>